/* App.css */
.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('/public/three-cups-background.png'); /* Tło gry */
  background-size: cover;
  background-position: center;
}

.score-board {
  position: absolute;
  top: 20px; /* Górna część ekranu */
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: rgb(37, 106, 180);
  z-index: 1;
}

.stars {
  position: absolute;
  top: 80px; /* Pod wynikiem */
  right: 50px;
  display: flex;
}

.star {
  width: 50px;
  height: 50px;
  background-color: rgb(33, 121, 214);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  margin: 5px;
}

.star.active {
  background-color: rgb(247, 185, 42);
}

.countertop {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-image: url('/public/countertop.png');
  background-size: cover; /* Zapewnia, że obrazek wypełnia cały kontener */
  background-position: center; /* Wyśrodkowuje obrazek */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* Z-index dla countertop */
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1; /* Ustawia kubki przed countertop */
}

.cup {
  width: 200px;
  height: 200px;
  margin: 10px;
  cursor: pointer;
}

.cup img {
  width: 100%;
  height: 100%;
}

.game-over-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-over {
  position: absolute;
  background-repeat: no-repeat;
  width: 1080px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  background-image: url('/public/page.png');
  background-size: cover; /* Zapewnia, że obrazek wypełnia cały kontener */
  background-position: center; /* Wyśrodkowuje obrazek */
  padding: 20px;
  border-radius: 10px;
  color: rgb(39, 39, 39);
  cursor: auto;
  z-index: 3;
  margin: 0 auto;
}

.game-over h1 {
  font-size: 72px;
  margin-top: 90px;
}

.game-over p {
  font-size: 36px;
  margin-top: 80px;
}

.game-over h2 {
  font-size: 32px;
}

.game-over h2:hover {
  color: rgb(118, 154, 185);
  cursor: pointer;
}
