/* Cup.css */
.cup {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
  }
  
  .cup img {
    width: 100%;
    height: 100%;
  }
  